<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Página Inicial</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <div class="container">
        <h1>Sistema - Interface Prazos</h1>

        <button onclick="window.location.href='/login'">
            Login
        </button>

        <button onclick="window.location.href='/user'">
            Acessar Usuários
        </button>

        <button onclick="window.location.href='/process'">
            Acessar Processos
        </button>

        <button onclick="window.location.href='/type'">
            Acessar Tipos de Process
        </button>
    </div>

    <script src="/js/script.js"></script>
</body>
</html>
