<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sub Processos</title>
    <link rel="stylesheet" href="/css/telas.css">
</head>

<body>

    <h2>Sub Processos</h2>

    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Descrição</th>
                    <th>Limite</th>
                    <th>Prazo</th>
                    <th>Status</th>
                </tr>
            </thead>

            <tbody>
                <tr th:each="s : ${subProcessos}">
                    <td th:text="${s.ID}"></td>
                    <td th:text="${s.desc}"></td>
                    <td th:text="${s.limite}"></td>
                    <td th:text="${s.prazo}"></td>
                    <td>
                        <span class="status"
                              th:classappend="${s.status} ? 'status-true' : 'status-false'"
                              th:text="${s.status} ? 'Concluído' : 'Pendente'">
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <h2>Usuários</h2>

    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>Processos</th>
                </tr>
            </thead>

            <tbody>
                <tr th:each="p : ${usuarios}">
                    <td th:text="${p.ID}"></td>
                    <td th:text="${p.name}"></td>
                    <td th:text="${p.email}"></td>
                    <td>
                        <a th:href="@{/user/{id}(id=${p.ID})}" class="btn-process">
                            Ver Perfil
                        </a>
                    </td>

                </tr>
            </tbody>
        </table>

        <div class="actions">
            <button type="button"
            class="btn btn-danger"
            onclick="history.back()">
            Voltar
            </button>
            <button type="button"
            class="btn btn-safe"
            onclick="window.location.href='process/add_user_process/{{processId}}'">
            Adicionar Usuários
            </button>
        </div>

    </div>

</body>
</html>
