<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tipos de Sub Processos</title>
    <link rel="stylesheet" href="/css/telas.css">
    
</head>

<body>

    <h2>Tipos de Sub Processos</h2>

    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Descrição</th>
                    <th>Limite</th>
                </tr>
            </thead>

            <tbody>
                <tr th:each="s : ${subTipos}">
                    <td th:text="${s.ID}"></td>
                    <td th:text="${s.desc}"></td>
                    <td th:text="${s.limite}"></td>
                </tr>
            </tbody>
        </table>

        <div class="actions">
            <button type="button"
            class="btn btn-danger"
            onclick="history.back()">
            Voltar
            </button>
        </div>
    </div>

</body>
</html>
