<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tipos de Processos</title>
    <link rel="stylesheet" href="/css/telas.css">
</head>

<body>

    <h2>Tipos de Processos</h2>

    <div class="container">
        <div class="card" th:each="t : ${tipos}">
            <div class="card-title" th:text="${t.name}"></div>

            <a class="btn"
               th:href="@{/type/sub-type/{id}(id=${t.ID})}">
                Ver mais detalhes
            </a>
        </div>
    </div>

</body>
</html>
