<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Perfil do Usuário</title>
    <link rel="stylesheet" href="/css/telas.css">
</head>

<body>

<div class="container">
    <div class="profile-card">

        <div class="profile-header">
            <div class="avatar"
                 th:text="${#strings.substring(user.name,0,1)}">
                U
            </div>

            <div>
                <h2 th:text="${user.name}">Nome do Usuário</h2>
                <p th:text="${user.email}">email@exemplo.com</p>
            </div>
        </div>

        <div class="profile-body">
            <div class="info-grid">
                <div class="info-item">
                    <span>ID do Usuário</span>
                    <strong th:text="${user.ID}">1</strong>
                </div>

                <div class="info-item">
                    <span>Email</span>
                    <strong th:text="${user.email}">email@exemplo.com</strong>
                </div>

                <div class="info-item">
                    <span>Total de Processos</span>
                    <strong th:text="${user.userProcess.size()}">0</strong>
                </div>
            </div>

            <div class="actions">
                <button type="button"
                    class="btn btn-danger"
                    onclick="history.back()">
                    Voltar
                </button>
            </div>

        </div>

        <div>
            <h2>Processos</h2>

            <div class="card" th:each="p : ${listaProcessos}">
                <div class="card-header">
                    <div class="card-title"
                        th:text="${p.name + ' de ' + p.cliente}">
                    </div>
                    <strong class="prazo"
                            th:text="${p.prazo != null ? p.prazo : 'Não Definido'}">
                    </strong>
                </div>
                <a class="btn_process"
                th:href="@{/process/sub-process/{id}(id=${p.ID})}">
                    Ver mais detalhes
                </a>
            </div>


        </div>

    </div>
</div>

</body>
</html>
