<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Processos</title>
    <link rel="stylesheet" href="/css/telas.css">
</head>

<body>

    <h2>Processos</h2>

    <div class="container">
        <div class="card" th:each="p : ${processos}">
            <div class="card-title" th:text="${p.name} + ' de ' + ${p.cliente}"></div>

            <a class="btn"
               th:href="@{/process/sub-process/{id}(id=${p.ID})}">
                Ver mais detalhes
            </a>
        </div>
    </div>

</body>
</html>